services:
  app:
    build: .
    entrypoint: ./.docker/entrypoint.sh
    volumes:
      - .:/home/node/app
    ports:
      - "3000:3000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/healthcheck"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
    environment:
      LOG_LEVEL: debug